<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>You are here!</title>
    <link rel="stylesheet" href="tickets.css">
</head>
<body>
    <header>
        <h1>Your Tickets</h1>
        <div class="navbar">
            <ul>
                <li><a href="./homepage.html"></a>Home</li>
                <li>Chennai</li>
                <li><a href="./">Contact</a></li>
                <li><a href="./">Logout</a></li>
            </ul>
        </div>
    </header>
    <div class="names">
        <div class="card1">
              <h4><b>MR Theater</b></h4>
              <p> <span>11:00AM</span> <span>2:30PM</span> <span>6:00PM</span> <span>9:30PM</span></p>
        </div>
        <div class="card2">
            <h4><b>SR Theater</b></h4>
            <p> <span>11:00AM</span> <span>2:30PM</span> <span>6:00PM</span> <span>9:30PM</span></p>
      </div>
      <div class="card3">
        <h4><b>Grand  Theater</b></h4>
        <p> <span>11:00AM</span> <span>2:30PM</span> <span>6:00PM</span> <span>9:30PM</span></p>
      </div>
      <div class="card4">
        <h4><b>PVR Theater</b></h4>
        <p> <span>11:00AM</span> <span>2:30PM</span> <span>6:00PM</span> <span>9:30PM</span></p>
      </div>
    </div>
</body>
</html>