* {
    margin: 0;
    padding: 0;
}

body {
    position: relative;
}

header {
    height: 5rem;
    background-color: #333545;
    color: white;
    width: 100%;
}

header h1 {
    position: absolute;
    top: 1rem;
    left: 3.5rem;
}

.navbar {
    position: absolute;
    color: white;
    top: 2rem;
    right: 2.5rem;
}

ul {
    display: flex;
}

li {
    list-style: none;
    padding: 0 1rem;
}

a {
    list-style: none;
    text-decoration: none;
    color: white;
}
.names{
    display: flex;
    flex-direction: column;
}
.card1 {
    position: absolute;
    top: 8rem;
    left: 3.5rem;
    border-radius: 5px; 
    width: 500px;
    height: 50px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
  }
  
  .card1:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
.card1 h4{
    margin: 1rem 0 0 1rem;
    
}
span{
    padding: 5px;
    border: 1px solid #333545 ;
    border-radius: 7px;
    
}
.card1 p{
    font-size: 15px;
    word-spacing: 15px;
    position: absolute;
    left: 10rem;
    bottom: 1rem;
}
.card2 {
    
    position: absolute;
    top: 16rem;
    left: 3.5rem;
    border-radius: 5px; 
    width: 500px;
    height: 50px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
  }
  
  .card2:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
.card2 h4{
    margin: 1rem 0 0 1rem;
    
}
.card2 p{
    font-size: 15px;
    word-spacing: 15px;
    position: absolute;
    left: 10rem;
    bottom: 1rem;
}

.card3 {
    position: absolute;
    top: 24rem;
    left: 3.5rem;
    border-radius: 5px; 
    width: 500px;
    height: 50px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
  }
  
.card3:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
.card3 h4{
    margin: 1rem 0 0 1rem;
    
}
.card3 p{
    font-size: 15px;
    word-spacing: 15px;
    position: absolute;
    left: 10rem;
    bottom: 1rem;
}
.card4 {
    position: absolute;
    top: 32rem;
    left: 3.5rem;
    border-radius: 5px; 
    width: 500px;
    height: 50px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
  }
  
.card4:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
.card4 h4{
    margin: 1rem 0 0 1rem;
    
}
.card4 p{
    font-size: 15px;
    word-spacing: 15px;
    position: absolute;
    left: 10rem;
    bottom: 1rem;
}